<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFLibrary.Service1Behavior"
        name="WCFLibrary.Service1">
        <clear />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
          listenUriMode="Explicit">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WCFLibrary/" />
            <add baseAddress="net.pipe://localhost/WCFService" />
            <add baseAddress="net.tcp://localhost:8000/WCFService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
    