<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="MyTcpBinding" openTimeout="00:02:00" transactionFlow="true"
          maxBufferSize="655360" maxReceivedMessageSize="655360" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MyWSHttpBinding" openTimeout="00:02:00" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WCFLibrary.Service1Behavior"
        name="WCFLibrary.Service1">
        <clear />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="MyTcpBinding"
          bindingName="MyTcpBinding" contract="WCFLibrary.IEmpService" />
        <endpoint address="" binding="netNamedPipeBinding" contract="WCFLibrary.IEmpService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WCFLibrary/" />
            <add baseAddress="net.pipe://localhost/WCFService" />
            <add baseAddress="net.tcp://localhost:8000/WCFService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
    