<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServiceLibrary1/EmpService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpService"
                contract="EmpServiceReference.IEmpService" name="BasicHttpBinding_IEmpService" />
        </client>
    </system.serviceModel>
</configuration>