<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IExceptionDemoService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8731/Design_Time_Addresses/BusinessObjects/ExceptionDemoService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExceptionDemoService"
                contract="localhost.IExceptionDemoService" name="WSHttpBinding_IExceptionDemoService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>