<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IService1" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="MyTcpBinding_IService1" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/WCFService" binding="netTcpBinding"
                bindingConfiguration="MyTcpBinding_IService1" contract="localhost.IService1"
                name="MyTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-CUH9EOP\timro" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/WCFService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IService1" contract="localhost.IService1"
                name="NetNamedPipeBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-CUH9EOP\timro" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/WCFLibrary/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService1" contract="localhost.IService1"
                name="WSHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="DESKTOP-CUH9EOP\timro" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>