<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAccoutService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8731/Design_Time_Addresses/AccountLibrary/Service1/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccoutService"
                contract="localhost.IAccoutService" name="WSHttpBinding_IAccoutService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>